# Git
.git
.gitignore

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio Code
.vscode/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
*.swp
*.swo
*~
.DS_Store 