@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="exception">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error</h4>
                        <p>Sorry, an error has occurred while processing your request.</p>
                        <hr>
                        @if (exception != null)
                        {
                            <p class="mb-0">@exception.Message</p>
                        }
                        <button class="btn btn-primary mt-3" @onclick="@(() => NavigationManager.NavigateTo(NavigationManager.Uri, true))">
                            Reload Page
                        </button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
}
