<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LeetCodeDaily</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leetcode-problems">
                <span class="bi bi-list-check" aria-hidden="true"></span> LeetCode Problems
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="build-array-from-permutation">
                <span class="bi bi-code-square" aria-hidden="true"></span> Build Array from Permutation
            </NavLink>
        </div>
    </nav>
</div>